/* BODY STYLING */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #5696a6, #adae7c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTAINER */
.container {
    background: #4e99af;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(178, 198, 79, 0.3);
}

/* TITLE */
h1 {
    font-size: 26px;
    color: #d99836;
    margin-bottom: 20px;
}

/* SEARCH BOX */
.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    width: 65%;
    border-radius: 8px;
    border: 2px solid #388070;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 10px 15px;
    background: #78529c;
    color: rgb(186, 122, 122);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.search-box button:hover {
    background: #552b36;
}

/* WEATHER INFO */
.weather-info {
    margin-top: 20px;
}

.weather-info p {
    font-size: 18px;
    margin: 8px 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 20px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box input {
        width: 100%;
    }

    .search-box button {
        width: 100%;
        margin-top: 10px;
    }
}
